{% extends "base.html" %}
{% load static %}

{% block title %}Amra Decorations{% endblock %}

{% block content %}
			<!-- Hero Section Start -->
            <section class="hero-area style-one position-relative z-1">
                <img src="{% static 'img/hero/dot-shape.svg' %}" alt="Shape" class="hero-dots position-absolute top-0 start-0 w-100 h-100 z-n1">
                <img src="{% static 'img/top-zigzag-shape.svg' %}" alt="Shape" class="top-shape position-absolute top-0 start-0 w-100 z-n1">
                <img src="{% static 'img/bottom-zigzag-shape.svg' %}" alt="Shape" class="bottom-shape position-absolute bottom-0 start-0 w-100 z-n1">
                <div class="container style-one">
                    <div class="row align-items-center">
                        <div class="col-xl-8 col-lg-8 pe-xxl-5">
                            <div class="hero-content mb-lg-30">
                                <h6 class="section-subtile fs-xxl-20 fw-light text_primary mb-6">Making People Happy</h6>
                                <h1>Craving Sweets You Come To The Right Place</h1>
                                <p class="fs-xxl-18 pe-xxl-5">Our cake bakery every creation is crafted with love passion and a sprinkle of sweetness from classic favorites to custom designed masterpieces</p>
                                <div class="btn-wrap d-flex flex-wrap align-items-center">
                                    <a href="{% url 'products' %}" class="btn style-two position-relative z-1 round-10">Browse Our Products</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-4 col-md-6 mb-sm-30">
                            <div class="hero-img-wrap position-relative">
                                <img src="{% static 'img/hero/hero-img-1.png' %}" alt="Image" class="d-block mx-auto" data-cue="slideInUp">
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- Hero Section End -->

            <!-- Product Section Start -->
            <div class="container style-one pt-120 pb-90">
                <div class="row align-items-center mb-45">
                    <div class="col-xl-6 mb-lg-20">
                        <h2 class="section-title style-one fw-normal text-title mb-0">New Arrivals</h2>
                    </div>
                    <div class="col-xl-6 text-xl-end">
                        <a href="{% url 'products' 'new-arrivals' %}" class="btn style-two position-relative z-1 round-10">View All</a>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-xxl-3 col-xl-4 col-md-6">
                        <div class="product-card style-four position-relative text-center img-hover-zoom round-20 mb-30 cursor-pointer" onclick="window.location.href='{% url 'products' %}';">
                            <div class="product-img round-15">
                                <img src="{% static 'img/products/gift/product-10.jpg' %}" alt="Image" class="round-15">
                            </div>
                            <ul class="rating list-unstyled mb-15">
                                <li><img src="{% static 'img/icons/star-1.svg' %}" alt="Icon"></li>
                                <li><img src="{% static 'img/icons/star-1.svg' %}" alt="Icon"></li>
                                <li><img src="{% static 'img/icons/star-1.svg' %}" alt="Icon"></li>
                                <li><img src="{% static 'img/icons/star-1.svg' %}" alt="Icon"></li>
                                <li><img src="{% static 'img/icons/star-1.svg' %}" alt="Icon"></li>
                            </ul>
                            <h3 class="fs-24"><a href="{% url 'product-detail' %}" class="text-title link-hover-primary">Box With Card</a></h3>
                            <span class="product-price fs-xxl-18 d-block">₹4.85</span>
                        </div>
                    </div>
                    <div class="col-xxl-3 col-xl-4 col-md-6">
                        <div class="product-card style-four position-relative text-center img-hover-zoom round-20 mb-30 cursor-pointer" onclick="window.location.href='{% url 'products' %}';">
                            <div class="product-img round-15">
                                <img src="{% static 'img/products/gift/product-11.jpg' %}" alt="Image" class="round-15">
                            </div>
                            <ul class="rating list-unstyled mb-15">
                                <li><img src="{% static 'img/icons/star-1.svg' %}" alt="Icon"></li>
                                <li><img src="{% static 'img/icons/star-1.svg' %}" alt="Icon"></li>
                                <li><img src="{% static 'img/icons/star-1.svg' %}" alt="Icon"></li>
                                <li><img src="{% static 'img/icons/star-1.svg' %}" alt="Icon"></li>
                                <li><img src="{% static 'img/icons/star-1.svg' %}" alt="Icon"></li>
                            </ul>
                            <h3 class="fs-24"><a href="{% url 'product-detail' %}" class="text-title link-hover-primary">Christmas Gift</a></h3>
                            <span class="product-price fs-xxl-18 d-block">₹65.00</span>
                        </div>
                    </div>
                    <div class="col-xxl-3 col-xl-4 col-md-6">
                        <div class="product-card style-four position-relative text-center img-hover-zoom round-20 mb-30 cursor-pointer" onclick="window.location.href='{% url 'products' %}';">
                            <div class="product-img round-15">
                                <img src="{% static 'img/products/gift/product-12.jpg' %}" alt="Image" class="round-15">
                            </div>
                            <ul class="rating list-unstyled mb-15">
                                <li><img src="{% static 'img/icons/star-1.svg' %}" alt="Icon"></li>
                                <li><img src="{% static 'img/icons/star-1.svg' %}" alt="Icon"></li>
                                <li><img src="{% static 'img/icons/star-1.svg' %}" alt="Icon"></li>
                                <li><img src="{% static 'img/icons/star-1.svg' %}" alt="Icon"></li>
                                <li><img src="{% static 'img/icons/star-1.svg' %}" alt="Icon"></li>
                            </ul>
                            <h3 class="fs-24"><a href="{% url 'product-detail' %}" class="text-title link-hover-primary">Box With Bow</a></h3>
                            <span class="product-price fs-xxl-18 d-block">₹60.00</span>
                        </div>
                    </div>
                    <div class="col-xxl-3 col-xl-4 col-md-6">
                        <div class="product-card style-four position-relative text-center img-hover-zoom round-20 mb-30 cursor-pointer" onclick="window.location.href='{% url 'products' %}';">
                            <div class="product-img round-15">
                                <img src="{% static 'img/products/gift/product-13.jpg' %}" alt="Image" class="round-15">
                            </div>
                            <ul class="rating list-unstyled mb-15">
                                <li><img src="{% static 'img/icons/star-1.svg' %}" alt="Icon"></li>
                                <li><img src="{% static 'img/icons/star-1.svg' %}" alt="Icon"></li>
                                <li><img src="{% static 'img/icons/star-1.svg' %}" alt="Icon"></li>
                                <li><img src="{% static 'img/icons/star-1.svg' %}" alt="Icon"></li>
                                <li><img src="{% static 'img/icons/star-1.svg' %}" alt="Icon"></li>
                            </ul>
                            <h3 class="fs-24"><a href="{% url 'product-detail' %}" class="text-title link-hover-primary">Box With Bottle</a></h3>
                            <span class="product-price fs-xxl-18 d-block">₹40.00</span>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Product Section End -->

            <!-- Featured Product Start -->
            <section class="featured-product-area">
                <div class="container style-one">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="featured-product style-one bg-1 position-relative z-1 d-flex flex-wrap align-items-center round-30 mb-30">
                                <div class="featured-product-info">
                                    <h6 class="font-primary fw-medium fs-16 text_primary mb-8">Delicious</h6>
                                    <h3 class="text-title fw-normal">Super Sale</h3>
                                    <p class="fs-xxl-18 mb-35">Smooth & creamy texture low in calories</p>
                                    <a href="{% url 'products' %}" class="btn style-two position-relative z-1 round-10">Order Now</a>
                                </div>
                                <div class="featured-product-img position-relative z-1">
                                    <img src="{% static 'img/products/cake/featured-product-1.png' %}" alt="Image" class="position-relative transition">
                                </div>
                                <img src="{% static 'img/products/shape-1.png' %}" alt="Shape" class="featured-shape position-absolute z-n1">
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="featured-product style-one bg-2 position-relative z-1 d-flex flex-wrap align-items-center round-30 mb-30">
                                <div class="featured-product-info">
                                    <h6 class="font-primary fw-medum fs-16 text_primary mb-1">Free Delivery</h6>
                                    <h3 class="text-title fw-normal">Order Now</h3>
                                    <p class="fs-xxl-18 mb-30">Find your favorite flavors at a cake Shop </p>
                                    <a href="{% url 'products' %}" class="btn style-two position-relative z-1 round-10">Order Now</a>
                                </div>
                                <div class="featured-product-img position-relative z-1">
                                    <img src="{% static 'img/products/cake/featured-product-2.png' %}" alt="Image" class="position-relative transition">
                                </div>
                                <img src="{% static 'img/products/shape-2.png' %}" alt="Shape" class="featured-shape position-absolute z-n1">
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- Featured Product End -->

            <!-- Product Section Start -->
            <div class="container style-one pt-120 pb-90">
                <div class="row align-items-center mb-45">
                    <div class="col-xl-6 mb-lg-20">
                        <h2 class="section-title style-one fw-normal text-title mb-0">Sale/Offer Products</h2>
                    </div>
                    <div class="col-xl-6 text-xl-end">
                        <a href="{% url 'products' 'sale-offer-products' %}" class="btn style-two position-relative z-1 round-10">View All</a>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-xxl-3 col-xl-4 col-md-6">
                        <div class="product-card style-four position-relative text-center img-hover-zoom round-20 mb-30 cursor-pointer" onclick="window.location.href='{% url 'products' %}';">
                            <div class="product-img round-15">
                                <img src="{% static 'img/products/gift/product-10.jpg' %}" alt="Image" class="round-15">
                            </div>
                            <ul class="rating list-unstyled mb-15">
                                <li><img src="{% static 'img/icons/star-1.svg' %}" alt="Icon"></li>
                                <li><img src="{% static 'img/icons/star-1.svg' %}" alt="Icon"></li>
                                <li><img src="{% static 'img/icons/star-1.svg' %}" alt="Icon"></li>
                                <li><img src="{% static 'img/icons/star-1.svg' %}" alt="Icon"></li>
                                <li><img src="{% static 'img/icons/star-1.svg' %}" alt="Icon"></li>
                            </ul>
                            <h3 class="fs-24"><a href="{% url 'product-detail' %}" class="text-title link-hover-primary">Box With Card</a></h3>
                            <span class="product-price fs-xxl-18 d-block">₹4.85</span>
                        </div>
                    </div>
                    <div class="col-xxl-3 col-xl-4 col-md-6">
                        <div class="product-card style-four position-relative text-center img-hover-zoom round-20 mb-30 cursor-pointer" onclick="window.location.href='{% url 'products' %}';">
                            <div class="product-img round-15">
                                <img src="{% static 'img/products/gift/product-11.jpg' %}" alt="Image" class="round-15">
                            </div>
                            <ul class="rating list-unstyled mb-15">
                                <li><img src="{% static 'img/icons/star-1.svg' %}" alt="Icon"></li>
                                <li><img src="{% static 'img/icons/star-1.svg' %}" alt="Icon"></li>
                                <li><img src="{% static 'img/icons/star-1.svg' %}" alt="Icon"></li>
                                <li><img src="{% static 'img/icons/star-1.svg' %}" alt="Icon"></li>
                                <li><img src="{% static 'img/icons/star-1.svg' %}" alt="Icon"></li>
                            </ul>
                            <h3 class="fs-24"><a href="{% url 'product-detail' %}" class="text-title link-hover-primary">Christmas Gift</a></h3>
                            <span class="product-price fs-xxl-18 d-block">₹65.00</span>
                        </div>
                    </div>
                    <div class="col-xxl-3 col-xl-4 col-md-6">
                        <div class="product-card style-four position-relative text-center img-hover-zoom round-20 mb-30 cursor-pointer" onclick="window.location.href='{% url 'products' %}';">
                            <div class="product-img round-15">
                                <img src="{% static 'img/products/gift/product-12.jpg' %}" alt="Image" class="round-15">
                            </div>
                            <ul class="rating list-unstyled mb-15">
                                <li><img src="{% static 'img/icons/star-1.svg' %}" alt="Icon"></li>
                                <li><img src="{% static 'img/icons/star-1.svg' %}" alt="Icon"></li>
                                <li><img src="{% static 'img/icons/star-1.svg' %}" alt="Icon"></li>
                                <li><img src="{% static 'img/icons/star-1.svg' %}" alt="Icon"></li>
                                <li><img src="{% static 'img/icons/star-1.svg' %}" alt="Icon"></li>
                            </ul>
                            <h3 class="fs-24"><a href="{% url 'product-detail' %}" class="text-title link-hover-primary">Box With Bow</a></h3>
                            <span class="product-price fs-xxl-18 d-block">₹60.00</span>
                        </div>
                    </div>
                    <div class="col-xxl-3 col-xl-4 col-md-6">
                        <div class="product-card style-four position-relative text-center img-hover-zoom round-20 mb-30 cursor-pointer" onclick="window.location.href='{% url 'products' %}';">
                            <div class="product-img round-15">
                                <img src="{% static 'img/products/gift/product-13.jpg' %}" alt="Image" class="round-15">
                            </div>
                            <ul class="rating list-unstyled mb-15">
                                <li><img src="{% static 'img/icons/star-1.svg' %}" alt="Icon"></li>
                                <li><img src="{% static 'img/icons/star-1.svg' %}" alt="Icon"></li>
                                <li><img src="{% static 'img/icons/star-1.svg' %}" alt="Icon"></li>
                                <li><img src="{% static 'img/icons/star-1.svg' %}" alt="Icon"></li>
                                <li><img src="{% static 'img/icons/star-1.svg' %}" alt="Icon"></li>
                            </ul>
                            <h3 class="fs-24"><a href="{% url 'product-detail' %}" class="text-title link-hover-primary">Box With Bottle</a></h3>
                            <span class="product-price fs-xxl-18 d-block">₹40.00</span>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Product Section End -->

            <!-- About Section Start -->
            <section class="about-area style-three position-relative z-1 pb-120">
                <div class="container style-one">
                    <div class="row align-items-center">
                        <div class="col-lg-6">
                            <div class="about-img-wrap position-relative mb-md-30">
                                <div class="about-img-one d-inline-block round-20">
                                    <img src="{% static 'img/about/about-img-3.jpg' %}" alt="Image" class="round-20">
                                </div>
                                <div class="about-img-two d-inline-block position-absolute round-20">
                                    <img src="{% static 'img/about/about-img-4.jpg' %}" alt="Image" class="round-20">
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 ps-xxl-4 ps-xl-4">
                            <div class="about-content">
                                <h2 class="section-title style-one fw-normal text-title mb-15">We at Amra Decorations</h2>
                                <p>From locally made crafts and delicious treats to stylish accessories and unique treasures collection is designed to make giving feel just as good as receiving come explore and let us help</p>
                                <ul class="feature-list style-one d-flex flex-wrap list-unstyled mb-18">
                                    <li class="position-relative font-secondary fw-normal fs-xxl-18 text-title"><img src="{% static 'img/icons/badge-violet.svg' %}" alt="Icon">The atmosphere is perfect</li>
                                    <li class="position-relative font-secondary fw-normal fs-xxl-18 text-title"><img src="{% static 'img/icons/badge-violet.svg' %}" alt="Icon">We offer something unique</li>
                                </ul>
                                <div class="counter-card-wrap d-flex flex-wrap justify-content-between round-15 mb-45">
                                    <div class="counter-card style-one position-relative mb-25">
                                        <h4 class="fw-normal fs-36 text-title mb-10"><span class="transition">50</span>+</h4>
                                        <p class="fs-xxl-18 fw-normal d-block mb-0">Team Members</p>
                                    </div>
                                    <div class="counter-card style-one position-relative mb-25">
                                        <h4 class="fw-normal fs-36 text-title mb-10"><span class="transition">38</span>+</h4>
                                        <p class="fs-xxl-18 fw-normal d-block mb-0">World Outlet</p>
                                    </div>
                                    <div class="counter-card style-one position-relative mb-25">
                                        <h4 class="fw-normal fs-36 text-title mb-10"><span class="transition">100</span>%</h4>
                                        <p class="fs-xxl-18 fw-normal d-block mb-0">Customer Satisfaction</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- About Section End -->

            <!-- Scrolling Text Start -->
            <div class="move-text-wrapper overflow-hidden pt-120 pb-120" style="background: #f7f2ea">
                <div class="move-text style-one position-relative z-1">
                    <ul class="d-flex align-items-center list-unstyled mb-0">
                        <li class="font-secondary text-title">Best Quality</li>
                        <li class="font-secondary text-title">Natural Ingredients</li>
                        <li class="font-secondary text-title">Crafted With Love</li>
                        <li class="font-secondary text-title">Gourmet Treats</li>
                        <li class="font-secondary text-title">Best Quality</li>
                        <li class="font-secondary text-title">Natural Ingredients</li>
                        <li class="font-secondary text-title">Crafted With Love</li>
                        <li class="font-secondary text-title">Gourmet Treats</li>
                    </ul>
                </div>
            </div>
            <!-- Scrolling Text End -->

            <!-- Product Section Start -->
            <div class="container style-one pt-120 pb-90">
                <div class="row align-items-center mb-45">
                    <div class="col-xl-6 mb-lg-20">
                        <h2 class="section-title style-one fw-normal text-title mb-0">Wedding Props/Decorations</h2>
                    </div>
                    <div class="col-xl-6 text-xl-end">
                        <a href="{% url 'products' 'wedding-props-decorations' %}" class="btn style-two position-relative z-1 round-10">View All</a>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-xxl-3 col-xl-4 col-md-6">
                        <div class="product-card style-four position-relative text-center img-hover-zoom round-20 mb-30 cursor-pointer" onclick="window.location.href='{% url 'products' %}';">
                            <div class="product-img round-15">
                                <img src="{% static 'img/products/gift/product-10.jpg' %}" alt="Image" class="round-15">
                            </div>
                            <ul class="rating list-unstyled mb-15">
                                <li><img src="{% static 'img/icons/star-1.svg' %}" alt="Icon"></li>
                                <li><img src="{% static 'img/icons/star-1.svg' %}" alt="Icon"></li>
                                <li><img src="{% static 'img/icons/star-1.svg' %}" alt="Icon"></li>
                                <li><img src="{% static 'img/icons/star-1.svg' %}" alt="Icon"></li>
                                <li><img src="{% static 'img/icons/star-1.svg' %}" alt="Icon"></li>
                            </ul>
                            <h3 class="fs-24"><a href="{% url 'product-detail' %}" class="text-title link-hover-primary">Box With Card</a></h3>
                            <span class="product-price fs-xxl-18 d-block">₹4.85</span>
                        </div>
                    </div>
                    <div class="col-xxl-3 col-xl-4 col-md-6">
                        <div class="product-card style-four position-relative text-center img-hover-zoom round-20 mb-30 cursor-pointer" onclick="window.location.href='{% url 'products' %}';">
                            <div class="product-img round-15">
                                <img src="{% static 'img/products/gift/product-11.jpg' %}" alt="Image" class="round-15">
                            </div>
                            <ul class="rating list-unstyled mb-15">
                                <li><img src="{% static 'img/icons/star-1.svg' %}" alt="Icon"></li>
                                <li><img src="{% static 'img/icons/star-1.svg' %}" alt="Icon"></li>
                                <li><img src="{% static 'img/icons/star-1.svg' %}" alt="Icon"></li>
                                <li><img src="{% static 'img/icons/star-1.svg' %}" alt="Icon"></li>
                                <li><img src="{% static 'img/icons/star-1.svg' %}" alt="Icon"></li>
                            </ul>
                            <h3 class="fs-24"><a href="{% url 'product-detail' %}" class="text-title link-hover-primary">Christmas Gift</a></h3>
                            <span class="product-price fs-xxl-18 d-block">₹65.00</span>
                        </div>
                    </div>
                    <div class="col-xxl-3 col-xl-4 col-md-6">
                        <div class="product-card style-four position-relative text-center img-hover-zoom round-20 mb-30 cursor-pointer" onclick="window.location.href='{% url 'products' %}';">
                            <div class="product-img round-15">
                                <img src="{% static 'img/products/gift/product-12.jpg' %}" alt="Image" class="round-15">
                            </div>
                            <ul class="rating list-unstyled mb-15">
                                <li><img src="{% static 'img/icons/star-1.svg' %}" alt="Icon"></li>
                                <li><img src="{% static 'img/icons/star-1.svg' %}" alt="Icon"></li>
                                <li><img src="{% static 'img/icons/star-1.svg' %}" alt="Icon"></li>
                                <li><img src="{% static 'img/icons/star-1.svg' %}" alt="Icon"></li>
                                <li><img src="{% static 'img/icons/star-1.svg' %}" alt="Icon"></li>
                            </ul>
                            <h3 class="fs-24"><a href="{% url 'product-detail' %}" class="text-title link-hover-primary">Box With Bow</a></h3>
                            <span class="product-price fs-xxl-18 d-block">₹60.00</span>
                        </div>
                    </div>
                    <div class="col-xxl-3 col-xl-4 col-md-6">
                        <div class="product-card style-four position-relative text-center img-hover-zoom round-20 mb-30 cursor-pointer" onclick="window.location.href='{% url 'products' %}';">
                            <div class="product-img round-15">
                                <img src="{% static 'img/products/gift/product-13.jpg' %}" alt="Image" class="round-15">
                            </div>
                            <ul class="rating list-unstyled mb-15">
                                <li><img src="{% static 'img/icons/star-1.svg' %}" alt="Icon"></li>
                                <li><img src="{% static 'img/icons/star-1.svg' %}" alt="Icon"></li>
                                <li><img src="{% static 'img/icons/star-1.svg' %}" alt="Icon"></li>
                                <li><img src="{% static 'img/icons/star-1.svg' %}" alt="Icon"></li>
                                <li><img src="{% static 'img/icons/star-1.svg' %}" alt="Icon"></li>
                            </ul>
                            <h3 class="fs-24"><a href="{% url 'product-detail' %}" class="text-title link-hover-primary">Box With Bottle</a></h3>
                            <span class="product-price fs-xxl-18 d-block">₹40.00</span>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Product Section End -->

            <!-- Testimonial Section Start -->
            <div class="testimonial-area style-three bg-black ptb-120">
                <div class="container style-one">
                    <div class="row">
                        <div class="col-xl-5 col-lg-5">
                           <div class="testimonial-content pe-xxl-5 mb-md-30">
                                <h2 class="section-title style-one fw-normal text-white mb-15 pe-xxl-5">Genuine Feedback From Clients</h2>
                                <p class="text-offwhite mb-40 pe-xl-5">From charming keepsakes and handcrafted items to playful novelties
                                and seasonal surprises each piece is chosen with care to bring</p>
                                <div class="btn-wrap d-flex flex-wrap">
                                    <div class="client-lists-wrap d-flex flex-wrap align-items-center ms-1 mb-lg-10">
                                        <ul class="client-list list-unstyled mb-0">
                                            <li class="rounded-circle"><img src="{% static 'img/clients/client-3.jpg' %}" alt="Image" class="rounded-circle"></li>
                                            <li class="rounded-circle"><img src="{% static 'img/clients/client-4.jpg' %}" alt="Image" class="rounded-circle"></li>
                                        </ul>
                                        <div class="ms-xxl-3">
                                            <img src="{% static 'img/clients/trust-logo.png' %}" alt="Logo">
                                            <span class="d-block text-white mt-1">8k+ clients reviews</span>
                                        </div>
                                    </div>
                                </div>
                           </div>
                        </div>
                        <div class="col-xl-7 col-lg-7">
                            <div class="testimonial-slider-three swiper position-relative">
                                <div class="swiper-wrapper">
                                    <div class="swiper-slide">
                                        <div class="testimonial-card style-three bg-white d-flex flex-wrap round-20">
                                            <div class="client-img round-15">
                                                <img src="{% static 'img/clients/client-1.jpg' %}" alt="Image" class="round-15">
                                            </div>
                                            <div class="client-quote-wrap">
                                                <ul class="rating list-unstyled lh-1">
                                                    <li><img src="{% static 'img/icons/star-1.svg' %}" alt="Icon"></li>
                                                    <li><img src="{% static 'img/icons/star-1.svg' %}" alt="Icon"></li>
                                                    <li><img src="{% static 'img/icons/star-1.svg' %}" alt="Icon"></li>
                                                    <li><img src="{% static 'img/icons/star-1.svg' %}" alt="Icon"></li>
                                                    <li><img src="{% static 'img/icons/star-1.svg' %}" alt="Icon"></li>
                                                </ul>
                                                <p class="fs-xxl-18">"I absolutely love this gift shop! Every time I walk in I discover something new and special. Whether I'm shopping for birthdays, holidays, or just a little they always have the perfect item. The quality is fantastic, the prices are reasonable and the staff is so friendly and helpful.”</p>
                                                <div class="client-info-wrap d-flex flex-wrap align-items-center justify-content-between pe-xxl-4">
                                                    <div class="client-info">
                                                        <h5 class="fs-22 mb-6">Robert Barnes</h5>
                                                        <span>Businessman</span>
                                                    </div>
                                                    <img src="{% static 'img/icons/quote-line-2.svg' %}" alt="Icon">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="testimonial-card style-three bg-white d-flex flex-wrap round-20">
                                            <div class="client-img round-15">
                                                <img src="{% static 'img/clients/client-2.jpg' %}" alt="Image" class="round-15">
                                            </div>
                                            <div class="client-quote-wrap">
                                                <ul class="rating list-unstyled lh-1">
                                                    <li><img src="{% static 'img/icons/star-1.svg' %}" alt="Icon"></li>
                                                    <li><img src="{% static 'img/icons/star-1.svg' %}" alt="Icon"></li>
                                                    <li><img src="{% static 'img/icons/star-1.svg' %}" alt="Icon"></li>
                                                    <li><img src="{% static 'img/icons/star-1.svg' %}" alt="Icon"></li>
                                                    <li><img src="{% static 'img/icons/star-1.svg' %}" alt="Icon"></li>
                                                </ul>
                                                <p class="fs-xxl-18">"From the moment I walked in I could tell this ice cream shop was special. The interior is cozy and fun the staff is welcoming and the aroma of freshly made waffle cones is heavenly I had their Hot Fudge Sundae and it was perfection warm rich.”</p>
                                                <div class="client-info-wrap d-flex flex-wrap align-items-center justify-content-between pe-xxl-4">
                                                    <div class="client-info">
                                                        <h5 class="fs-22 mb-6">Bruce Wilson</h5>
                                                        <span>Enterprenuer</span>
                                                    </div>
                                                    <img src="{% static 'img/icons/quote-line-2.svg' %}" alt="Icon">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="testimonial-card style-three bg-white d-flex flex-wrap round-20">
                                            <div class="client-img round-15">
                                                <img src="{% static 'img/clients/client-3.jpg' %}" alt="Image" class="round-15">
                                            </div>
                                            <div class="client-quote-wrap">
                                                <ul class="rating list-unstyled lh-1">
                                                    <li><img src="{% static 'img/icons/star-1.svg' %}" alt="Icon"></li>
                                                    <li><img src="{% static 'img/icons/star-1.svg' %}" alt="Icon"></li>
                                                    <li><img src="{% static 'img/icons/star-1.svg' %}" alt="Icon"></li>
                                                    <li><img src="{% static 'img/icons/star-1.svg' %}" alt="Icon"></li>
                                                    <li><img src="{% static 'img/icons/star-1.svg' %}" alt="Icon"></li>
                                                </ul>
                                                <p class="fs-xxl-18">"The interior is cozy and fun the staff is welcoming and the aroma of freshly made waffle cones is heavenly I had their Hot Fudge Sundae and it was perfection warm rich.From the moment I walked in I could tell this ice cream shop was special. ”</p>
                                                <div class="client-info-wrap d-flex flex-wrap align-items-center justify-content-between pe-xxl-4">
                                                    <div class="client-info">
                                                        <h5 class="fs-22 mb-6">Melinda Brown</h5>
                                                        <span>Co-Founcer, IBAC</span>
                                                    </div>
                                                    <img src="{% static 'img/icons/quote-line-2.svg' %}" alt="Icon">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="slider-btn style-two">
                                    <button class="prev-btn testimonial-prev d-flex flex-column align-items-center justify-content-center rounded-circle border-0"><i class="ri-arrow-left-line"></i></button>
                                    <button class="next-btn testimonial-next d-flex flex-column align-items-center justify-content-center rounded-circle border-0"><i class="ri-arrow-right-line"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Testimonial Section End -->

            <!-- Product Section Start -->
            <div class="container style-one pt-120 pb-90">
                <div class="row align-items-center mb-45">
                    <div class="col-xl-6 mb-lg-20">
                        <h2 class="section-title style-one fw-normal text-title mb-0">Festival Decorations</h2>
                    </div>
                    <div class="col-xl-6 text-xl-end">
                        <a href="{% url 'products' 'festival-decorations' %}" class="btn style-two position-relative z-1 round-10">View All</a>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-xxl-3 col-xl-4 col-md-6">
                        <div class="product-card style-four position-relative text-center img-hover-zoom round-20 mb-30 cursor-pointer" onclick="window.location.href='{% url 'products' %}';">
                            <div class="product-img round-15">
                                <img src="{% static 'img/products/gift/product-10.jpg' %}" alt="Image" class="round-15">
                            </div>
                            <ul class="rating list-unstyled mb-15">
                                <li><img src="{% static 'img/icons/star-1.svg' %}" alt="Icon"></li>
                                <li><img src="{% static 'img/icons/star-1.svg' %}" alt="Icon"></li>
                                <li><img src="{% static 'img/icons/star-1.svg' %}" alt="Icon"></li>
                                <li><img src="{% static 'img/icons/star-1.svg' %}" alt="Icon"></li>
                                <li><img src="{% static 'img/icons/star-1.svg' %}" alt="Icon"></li>
                            </ul>
                            <h3 class="fs-24"><a href="{% url 'product-detail' %}" class="text-title link-hover-primary">Box With Card</a></h3>
                            <span class="product-price fs-xxl-18 d-block">₹4.85</span>
                        </div>
                    </div>
                    <div class="col-xxl-3 col-xl-4 col-md-6">
                        <div class="product-card style-four position-relative text-center img-hover-zoom round-20 mb-30 cursor-pointer" onclick="window.location.href='{% url 'products' %}';">
                            <div class="product-img round-15">
                                <img src="{% static 'img/products/gift/product-11.jpg' %}" alt="Image" class="round-15">
                            </div>
                            <ul class="rating list-unstyled mb-15">
                                <li><img src="{% static 'img/icons/star-1.svg' %}" alt="Icon"></li>
                                <li><img src="{% static 'img/icons/star-1.svg' %}" alt="Icon"></li>
                                <li><img src="{% static 'img/icons/star-1.svg' %}" alt="Icon"></li>
                                <li><img src="{% static 'img/icons/star-1.svg' %}" alt="Icon"></li>
                                <li><img src="{% static 'img/icons/star-1.svg' %}" alt="Icon"></li>
                            </ul>
                            <h3 class="fs-24"><a href="{% url 'product-detail' %}" class="text-title link-hover-primary">Christmas Gift</a></h3>
                            <span class="product-price fs-xxl-18 d-block">₹65.00</span>
                        </div>
                    </div>
                    <div class="col-xxl-3 col-xl-4 col-md-6">
                        <div class="product-card style-four position-relative text-center img-hover-zoom round-20 mb-30 cursor-pointer" onclick="window.location.href='{% url 'products' %}';">
                            <div class="product-img round-15">
                                <img src="{% static 'img/products/gift/product-12.jpg' %}" alt="Image" class="round-15">
                            </div>
                            <ul class="rating list-unstyled mb-15">
                                <li><img src="{% static 'img/icons/star-1.svg' %}" alt="Icon"></li>
                                <li><img src="{% static 'img/icons/star-1.svg' %}" alt="Icon"></li>
                                <li><img src="{% static 'img/icons/star-1.svg' %}" alt="Icon"></li>
                                <li><img src="{% static 'img/icons/star-1.svg' %}" alt="Icon"></li>
                                <li><img src="{% static 'img/icons/star-1.svg' %}" alt="Icon"></li>
                            </ul>
                            <h3 class="fs-24"><a href="{% url 'product-detail' %}" class="text-title link-hover-primary">Box With Bow</a></h3>
                            <span class="product-price fs-xxl-18 d-block">₹60.00</span>
                        </div>
                    </div>
                    <div class="col-xxl-3 col-xl-4 col-md-6">
                        <div class="product-card style-four position-relative text-center img-hover-zoom round-20 mb-30 cursor-pointer" onclick="window.location.href='{% url 'products' %}';">
                            <div class="product-img round-15">
                                <img src="{% static 'img/products/gift/product-13.jpg' %}" alt="Image" class="round-15">
                            </div>
                            <ul class="rating list-unstyled mb-15">
                                <li><img src="{% static 'img/icons/star-1.svg' %}" alt="Icon"></li>
                                <li><img src="{% static 'img/icons/star-1.svg' %}" alt="Icon"></li>
                                <li><img src="{% static 'img/icons/star-1.svg' %}" alt="Icon"></li>
                                <li><img src="{% static 'img/icons/star-1.svg' %}" alt="Icon"></li>
                                <li><img src="{% static 'img/icons/star-1.svg' %}" alt="Icon"></li>
                            </ul>
                            <h3 class="fs-24"><a href="{% url 'product-detail' %}" class="text-title link-hover-primary">Box With Bottle</a></h3>
                            <span class="product-price fs-xxl-18 d-block">₹40.00</span>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Product Section End -->
{% endblock %}