{% extends "base.html" %}
{% load static %}
{% load custom_filters %}

{% block title %}{{ page_title }}{% endblock %}

{% block content %}
			<!-- Breadcrumb Section Start -->
            <div class="breadcrumb-area position-relative z-1">
                <div class="container style-one text-center">
                    <div class="row align-items-center">
                        <div class="col-xxl-12 col-lg-12 col-md-12 mb-sm-10">
                            <h2 class="br-title fw-normal mb-12">{{ page_title|split_first }}</h2>
                            <ul class="br-menu list-unstyled mb-0">
                                <li><a href="{% url 'home' %}">Home</a></li>
                                <li>{{ page_title|split_first }}</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Breadcrumb Section End -->

			<!-- Shop Start -->
            <div class="container style-one ptb-120">
                <div class="row">
                    <div class="col-xl-9 order-xl-2 order-1">
                        <div class="row">
                        	{% for product in products %}
                            <div class="col-xl-4 col-lg-4 col-md-6 col-6">
                            	{% include 'components/product.html' with product=product %}
                            </div>
                            {% empty %}
                            <div class="col-12 text-center">
                                <p>No products available at the moment.</p>
                            </div>
                        	{% endfor %}
                        </div>
                    </div>
                    <div class="col-xl-3 order-xl-1 order-2">
                        <aside class="sidebar mt-lg-50">
                            <div class="sidebar-widget category-widget round-20">
                                <h3 class="sidebar-widget-title fs-20 fw-normal text-title mb-20">Product Category</h3>
                                <ul class="list-unstyled mb-0">
                                {% for category in categories %}
                                    {% if category.parent == None %}
                                        <li>
                                            <a href="{% url 'products' category.slug %}" class="position-relative">{{ category.name }}</a>
                                            {% if category.children.all %}
                                                <ul class="list-unstyled ms-4">
                                                    {% for subcategory in category.children.all %}
                                                        <li style="margin-top: 20px;">
                                                            <a href="{% url 'products' subcategory.slug %}" class="position-relative">{{ subcategory.name }}</a>
                                                        </li>
                                                    {% endfor %}
                                                </ul>
                                            {% endif %}
                                        </li>
                                    {% endif %}
                                {% endfor %}
                            </ul>
                            </div>
                        </aside>
                    </div>
                </div>
            </div>
            <!-- Shop End -->
{% endblock %}