{% extends "base.html" %}
{% load static %}

{% block title %}Amra Decorations{% endblock %}

{% block content %}
			<!-- Breadcrumb Section Start -->
            <div class="breadcrumb-area position-relative z-1">
                <div class="container style-one text-center">
                    <div class="row align-items-center">
                        <div class="col-xxl-12 col-lg-12 col-md-12 mb-sm-10">
                            <h2 class="br-title fw-normal mb-12">Products</h2>
                            <ul class="br-menu list-unstyled mb-0">
                                <li><a href="{% url 'home' %}">Home</a></li>
                                <li>Products</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Breadcrumb Section End -->

			<!-- Shop Start -->
            <div class="container style-one ptb-120">
                <div class="row">
                    <div class="col-xl-9 order-xl-2 order-1">
                        <div class="row">
                        	{% for product in products %}
                            <div class="col-xl-4 col-lg-4 col-md-6">
                            	<div class="product-card style-four position-relative text-center img-hover-zoom round-20 mb-30" onclick="window.location.href='{% url 'product-detail' product.id %}';">
		                            <div class="product-img round-15">
		                                <img src="{{ product.image.url }}" alt="Image" class="round-15">
		                            </div>
		                            <ul class="rating list-unstyled mb-15">
		                                <li><img src="{% static 'img/icons/star-1.svg' %}" alt="Icon"></li>
		                                <li><img src="{% static 'img/icons/star-1.svg' %}" alt="Icon"></li>
		                                <li><img src="{% static 'img/icons/star-1.svg' %}" alt="Icon"></li>
		                                <li><img src="{% static 'img/icons/star-1.svg' %}" alt="Icon"></li>
		                                <li><img src="{% static 'img/icons/star-1.svg' %}" alt="Icon"></li>
		                            </ul>
		                            <h3 class="fs-24"><a href="{% url 'product-detail' product.id %}" class="text-title link-hover-primary">{{ product.name }}</a></h3>
                                    {% if product.discount_price %}
                                    <div class="product-price fs-xxl-18 d-block"><span class="fw-normal text_primary">₹{{ product.discount_price }}</span> <span class="text-para fw-light text-decoration-line-through ms-2">₹{{ product.price }}</span></div>
                                    {% else %}
                                    <div class="product-price fs-xxl-18 d-block"><span class="fw-normal text_primary">₹{{ product.price }}</span></div>
                                    {% endif %}
		                        </div>
                            </div>
                        	{% endfor %}
                        </div>
                    </div>
                    <div class="col-xl-3 order-xl-1 order-2">
                        <aside class="sidebar mt-lg-50">
                            <div class="sidebar-widget category-widget round-20">
                                <h3 class="sidebar-widget-title fs-20 fw-normal text-title mb-20">Product Category</h3>
                                <ul class="list-unstyled mb-0">
                                	{% for x in categories %}
                                    <li><a href="{% url 'products' x.slug %}" class="position-relative">{{ x.name }}<img src="{% static 'img/icons/right-arrow-black.svg' %}" alt="Icon" class="transition"></a></li>
                                	{% endfor %}
                                </ul>
                            </div>
                        </aside>
                    </div>
                </div>
            </div>
            <!-- Shop End -->
{% endblock %}